body{
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 150px 0px 150px 150px;
}

.logo img{
    width: 200px;
}

#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px 100px 100px;
}

.input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    background: none;
    height: 40px;
    width: auto;
    width: 300px;
    font-size: 17px;
}

.input:focus{
    outline: none;
}

#formBtn{
  background-color: rgb(139, 29, 29);
  color: white;
  font-size: 20px;
  margin: 15px;
  text-decoration: none;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  border: none;
  width: 85px;
  height: 45px;
}

#formBtn:hover{
  background-color: white;
  border: 2px solid rgb(139, 29, 29);
  color: rgb(139, 29, 29);
  cursor: pointer;
}

#hasAccount{
    text-decoration: none;
    color: rgb(108, 108, 108);
}

#hasAccount:hover{
    text-decoration: underline;
}