:root {
    --minus: 200px;
    --red: rgb(139, 29, 29);
    --darkred: rgb(100, 29, 29);
    --black: #333;
}

@media (max-width: 1070px) {
  .navbar {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
  }

  .links {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: whitesmoke;
  }

  .links.active {
    display: flex;
  }

  .right-side {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .right-side.active {
    display: flex;
  }

  #searchBar,
  #contactBtn {
    width: 100%;
  }

}