    body {
      background-color: rgb(227, 231, 233);
      margin: 0;
      padding: 0;
    }

    html {
      overflow-x: hidden;
      font-size: 17px;
    }

    a {
      color: #333;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;

    }

    section {
      padding: 50px 20px;
    }

    #header {
      position: sticky;
      z-index: 1000;
      top: 0;
    }



    .navbar {
      background-color: whitesmoke;
      box-sizing: border-box;
      padding: 20px 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 1000;

    }

    */ .nav-pt-1 {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    .nav-pt-2 {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      gap: 40px;
      font-size: 20px;

    }

    .nav-pt-3 {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      font-size: 20px;
      gap: 40px;

    }

    /*--------------------------------*/
    #searchBar {
      padding: 3px 10px;
      height: 30px;
    }

    .nav-pt-2 a,
    .nav-pt-3 a {
      padding: 5px 0;
    }


    .header .logo {

      font-size: 20px;
      color: #333;

    }

    .header .logo span {
      color: rgb(139, 29, 29);
    }

    .header.active {
      background-color: whitesmoke;
      border: 0;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    }

    .header .navbar a {
      margin: 0 10px;
      font-size: 17px;
      color: #333;
    }

    .navbar a:hover {
      color: rgb(139, 29, 29);
    }

    .logo span {
      color: rgb(139, 29, 29);

    }



    .introduction {
      background-image: url(/images/blood\ donation.webp);
      background-size: cover;
      background-position: center;
    }

    h1 {
      color: navy;
      color: navy;
    }

    h2 {
      text-align: center;
    }