body{
  background-color: rgb(227, 231, 233);
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
  font-size: 17px;
}

#header{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar{
  background: rgb(245, 245, 245);
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links, .util{
  display: flex;
  align-items: center;
  gap: 40px;
}

.link{
  color: #333;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  font-size: large;
}

.link:hover{
  color: rgb(139, 29, 29);
  background-color: rgb(199, 199, 199);
  border-radius: 10px;
}

#logo{
  width: 100px;
  height: auto;
  background: none;
}

#logo span{
  color: rgb(139, 29, 29);
}

#searchBar{
  padding: 3px 10px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
}